{
  "plugins": ["babel-plugin-styled-components", "inline-react-svg"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ]
}